.toast {
  position: fixed;
  bottom: 30px;
  right: 20px;
  min-width: 260px;
  padding: 14px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #35363e;
  border-left: 4px solid #9bd1de;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.5s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 6000;
}

.toast {
  opacity: 1;
  transform: translateX(0);
}

.hide {
  opacity: 0;
  transform: translateX(200px);
}

.success {
  border-top-color: unset;
  border-left-color: #9bd1de;
}

.error {
  border-left-color: #ff6b6b;
  border-top-color: unset;
}
@media (max-width: 480px) {
  .toast {
    bottom: 20px;
    right: 50%;
    transform: translate(50%, 100px);
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }

  .toast:not(.hide) {
    opacity: 1;
    transform: translate(50%, 0);
  }

  .hide {
    opacity: 0;
    transform: translate(50%, 100px);
  }
}
